In [1]:
import pandas as pd
# tong so khach hang truy cap trong thang
# tgian khach hang o lai
# churn rate
# bounce rate

In [3]:
df = pd.read_csv('sample_mkt_data_final.csv', low_memory=False)

In [4]:
df

,Unnamed: 0.1,Unnamed: 0,browser,visitorId,visitNumber,visitId,visitStartTime,date,visits,hits,pageviews,timeOnSite,bounces,transactions,transactionRevenue,source,fullVisitorId
0,0,0,Safari,NaN,1,1499949144,1499949144,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,6790377449422493910
1,1,1,Chrome,NaN,1,1499948762,1499948762,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,1431348163667504299
2,2,2,Chrome,NaN,7,1499940578,1499940578,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,5628749752915535966
3,3,3,Chrome,NaN,1,1500000096,1500000096,20170713,1,1,1.0,NaN,1.0,NaN,NaN,(direct),7721996906492012430
4,4,4,Chrome,NaN,1,1499969958,1499969958,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,2699850580029059099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71807,71807,71807,YaBrowser,NaN,1,1499360023,1499360023,20170706,1,18,12.0,187.0,NaN,NaN,NaN,youtube.com,8636238363843235715
71808,71808,71808,Safari,NaN,1,1499409243,1499409243,20170706,1,22,15.0,382.0,NaN,NaN,NaN,m.youtube.com,2163624322857171652
71809,71809,71809,Chrome,NaN,2,1499357935,1499357935,20170706,1,23,22.0,916.0,NaN,NaN,NaN,youtube.com,7690948523840471251
71810,71810,71810,Chrome,NaN,1,1499340827,1499340827,20170706,1,26,24.0,1598.0,NaN,NaN,NaN,youtube.com,3556380371648369739
71811,71811,71811,Chrome,NaN,1,1499402632,1499402632,20170706,1,33,29.0,1003.0,NaN,NaN,NaN,youtube.com,4510124417472283674

In [5]:
df.nunique()

Unnamed: 0.1          71812
Unnamed: 0            71812
browser                  29
visitorId                 0
visitNumber             179
visitId               70478
visitStartTime        70578
date                     31
visits                    1
hits                    140
pageviews               104
timeOnSite             2377
bounces                   1
transactions              4
transactionRevenue      782
source                   97
fullVisitorId         58569
dtype: int64

In [6]:
df.count()

Unnamed: 0.1          71812
Unnamed: 0            71812
browser               71812
visitorId                 0
visitNumber           71812
visitId               71812
visitStartTime        71812
date                  71812
visits                71812
hits                  71812
pageviews             71796
timeOnSite            35284
bounces               36408
transactions           1031
transactionRevenue     1031
source                71812
fullVisitorId         71812
dtype: int64

In [7]:
df.fullVisitorId.nunique()

58569

In [8]:
df.transactions.value_counts()

1.0    997
2.0     30
4.0      3
3.0      1
Name: transactions, dtype: int64

In [9]:
df.visitNumber[df.visitNumber==1].sum()

54681

In [14]:
new = df[df.transactions.isnull() == False]
new

,Unnamed: 0.1,Unnamed: 0,browser,visitorId,visitNumber,visitId,visitStartTime,date,visits,hits,pageviews,timeOnSite,bounces,transactions,transactionRevenue,source,fullVisitorId
1791,1791,1791,Chrome,NaN,1,1499927321,1499929207,20170713,1,4,4.0,34.0,NaN,1.0,6490000.0,google,7814694674795821005
2040,2040,2040,Chrome,NaN,3,1499948870,1499948870,20170713,1,7,7.0,327.0,NaN,1.0,47910000.0,(direct),5811594763051473521
2186,2186,2186,Chrome,NaN,2,1499966663,1499966663,20170713,1,10,10.0,576.0,NaN,1.0,35040000.0,(direct),1705527650625246541
2211,2211,2211,Chrome,NaN,10,1499967456,1499967456,20170713,1,11,11.0,797.0,NaN,1.0,20550000.0,(direct),5006189507971762636
2214,2214,2214,Chrome,NaN,1,1499958768,1499958768,20170713,1,11,11.0,819.0,NaN,1.0,35980000.0,google,0646447296042878517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71434,71434,71434,Chrome,NaN,2,1499375328,1499375328,20170706,1,50,41.0,878.0,NaN,1.0,32950000.0,google,6088881978586613693
71435,71435,71435,Chrome,NaN,5,1499391910,1499391910,20170706,1,51,42.0,1285.0,NaN,1.0,89520000.0,(direct),0913044232398820759
71436,71436,71436,Chrome,NaN,1,1499404637,1499404637,20170706,1,52,44.0,1486.0,NaN,1.0,38490000.0,(direct),9965806646035059336
71437,71437,71437,Chrome,NaN,2,1499385809,1499385809,20170706,1,53,38.0,1128.0,NaN,2.0,63840000.0,(direct),1681975491896946073
71438,71438,71438,Chrome,NaN,1,1499377019,1499377019,20170706,1,53,39.0,1006.0,NaN,1.0,30380000.0,(direct),8331169722542257564

In [15]:
new.fullVisitorId.nunique()

1020

In [16]:
df.timeOnSite.mean()

296.7820258474096

In [ ]:
df[df]